@font-face {
  font-family: 'UbuntuMono-R';
  src: url(fonts/UbuntuMono-R.ttf);
}

@console-bg: #111;
@console-text: #8F8;

body {
  background: @console-bg + #111;
  margin: 0;
}

#console {
  font-family: 'UbuntuMono-R';
  font-size: 120%;
  padding: 1%;
  background: @console-bg;
  color: @console-text;

  position: absolute;
  width: 50%;
  height: 50%;
  transform: translate(50%, 0%)
}